

body{
background-image: url(../images/stars.jpg);
font-family: sans-serif;
background-attachment: scroll;
}

.ufo{
z-index: -5;
position: fixed;
display: flex;
min-height: 100vh;
min-width: 100vw;
margin-top: -300px;
justify-content: center;
align-items: center;
}
#ufo{width: 30px;animation: move 0.1s infinite;}
@keyframes move{
0%{margin-left: -5px;}
50%{margin-right: -5px;}
100%{margin-left: -5px;}
}

.cont{
min-width: 100vw;
text-align: center;
color: #fff;
font-weight: 100;
overflow: hidden;
}

.cont h3{
font-weight: 200;
font-size: 25px;
}

.cont a{
text-decoration: none;
color: #fff;
font-size: 25px;
font-weight: 200;
}

/*hint section*/


.hint-box{
color: #fff;
font-weight: 100;
}
.hint{
position: fixed;
z-index: 10;
width: 100vw;
top: 50%;
transform: translateY(-50%);
font-size: 30px;
text-align: center;
}

#moonspd{
position: absolute;
left: -100%;
width: 90vw;
transition: 1s;
}
#moontime{
position: absolute;
left: -100%;
width: 90vw;
transition: 1s;
}
#marsspd{
position: absolute;
left: -100%;
width: 90vw;
transition: 1s;
}
#marstime{
position: absolute;
left: -100%;
width: 90vw;
transition: 1s;
}




/*hint section end*/

#earth{width: 100px;}
#earth-cont{margin-top: 300px;}

#moon{width: 27px;}
#moon-cont{margin-top: 3017px;}

#mars{width: 53px;}
#mars-cont{margin-top: 3104815px;}

#jupiter{width: 1097px;}
#jupiter-cont{margin-top: 4319495px;}


